.g_icon{
}
.smile{
	height:19px;
	width:19px;
	background: url("../images/smile.gif");
}
.grin{
	height:19px;
	width:19px;
	background: url("../images/grin.gif");
}
.wink{
	height:19px;
	width:19px;
	background: url("../images/wink.gif");
}
.cry{
	height:19px;
	width:19px;
	background: url("../images/cry.gif");
}
.shocked{
	height:19px;
	width:19px;
	background: url("../images/shocked.gif");
}
.angry{
	height:19px;
	width:19px;
	background: url("../images/angry.gif");
}
.frown{
	height:19px;
	width:19px;
	background: url("../images/frown.gif");
}
.cool{
	height:19px;
	width:19px;
	background: url("../images/cool.gif");
}
.tongue{
	height:19px;
	width:19px;
	background: url("../images/tongue.gif");
}
.heart{
	height:19px;
	width:19px;
	background: url("../images/heart.gif");
}
.straight_face{
	height:19px;
	width:19px;
	background: url("../images/straight_face.gif");
}
.dancing{
	height:19px;
	width:19px;
	background: url("../images/dancing.gif");
}
.nerdy{
	height:19px;
	width:19px;
	background: url("../images/nerdy.gif");
}
.party{
	height:19px;
	width:19px;
	background: url("../images/party.gif");
}
.rock{
	height:19px;
	width:19px;
	background: url("../images/rock.gif");
}
.sun{
	height:19px;
	width:19px;
	background: url("../images/sun.gif");
}
.bowing{
	height:19px;
	width:19px;
	background: url("../images/bowing.gif");
}
.dull{
	height:19px;
	width:19px;
	background: url("../images/dull.gif");
}
.worried{
	height:19px;
	width:19px;
	background: url("../images/worried.gif");
}
.blushing{
	height:19px;
	width:19px;
	background: url("../images/blushing.gif");
}
.ninja{
	height:19px;
	width:19px;
	background: url("../images/ninja.gif");
}